@use 'resources/style/bootstrap.css';
@use 'resources/style/bootstrap-switch.css';
@use 'resources/style/bootstrap-toggle.min.css';
@use 'resources/style/core.css';
@use 'resources/style/components.css';
@use 'resources/fonts/icomoon/styles.css';
@use 'resources/style/top.css';
@use 'resources/style/main.css';
@use 'resources/style/products.css';
@use 'resources/style/loader.css';
@use 'resources/style/owl.carousel.min.css';

@use '~element-plus/theme-chalk/src/var';
@use '~element-plus/theme-chalk/src/common/transition';
@use '~element-plus/theme-chalk/src/overlay.scss';
@use '~element-plus/theme-chalk/src/message-box.scss';
