/node_modules
/node_modules-v3
/public/hot
/public/storage
/public/assets
/public/vendor
/public/setting.xml
/resources/js/routes.js
/storage/*.key
/vendor
/vendor-v2
/vendor-v3
/.idea
/.vagrant
.env
.env.testing
.env.backup
.phpunit.result.cache
.htaccess
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
settings.xml
