/node_modules
/public/hot
/public/storage
/public/assets
/public/vendor
/public/setting.xml
/resources/js/routes.js
/storage/*.key
/vendor
/.idea
/.vagrant
.env
.env.testing
.env.backup
.phpunit.result.cache
.htaccess
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
settings.xml
