#categories {
    text-align: center;
}

.category {
    cursor: pointer;
    height: 270px;
}

.category:hover {
    opacity: 0.7;
}

#products {
    text-align: center;
    display: none;
}

.order-form {
    width: 100%;
    display: table;
    margin-bottom: 30px;
}

#order-content hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-body .total-cost-basket {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.modal-body .product {
    width: 100%;
}

.modal-body .product h3 {
    margin-top: 20px;
}

.input-value-container {
    width: 100%;
    display: table;
    margin-bottom: 15px;
}

.product {
    display: table;
}

.basket-product {
    width: 100%;
    display: table;
}

.basket-product > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

.basket-product .product-name,
.basket-product .product-cost {
    width: 40%;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 5px;
}

.basket-product .product-cost {
    width: 20%;
    text-align: center;
}

.basket-product .product-delete {
    text-align: center;
    cursor: pointer;
}

.product .input-value-container {
    margin: 10px 0 0 0;
}

.product .cost {
    display: table-row;
}

.product .cost > p {
    height: 30px;
    padding: 10px;
    font-style: italic;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.input-value-container input {
    text-align: center;
    font-weight: bold;
    background-color: white;
    font-size: 15px;
}

.input-value-container > div {
    padding: 0 5px;
    display: table-cell;
}

.input-value-container .button {
    width: 35px;
    color: grey;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
}

.category img, .product img {
    border: 1px solid #c1c1c1;
}

.category h3, .product h3 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
}

.category h3 {
    text-align: center;
}

.product p {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.product p.price {
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.actions {
    width: 100%;
}

.actions .container {
    padding-top: 0;
}

.owl-carousel .owl-nav {
    width: 100%;
    height: 0;
    position: relative;
    z-index: 100;
    top: -50%;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav button {
    width: 60px;
    height: 60px;
    background-color: white !important;
    font-size: 70px !important;
    position: relative;
    border-radius: 50%;
    opacity: 0.7;
}

.owl-carousel .owl-nav button > span {
    display: block;
    position: relative;
    top: -27px;
}

.owl-carousel .owl-nav button.owl-prev {
    float: left;
    margin-left: 20px;
}

.owl-carousel .owl-nav button.owl-next {
    float: right;
    margin-right: 20px;
}

.action-product {
    display: table;
    text-align: center;
    padding: 30px;
    background: url("../images/white.png") repeat;
}

.action-product h1 {
    font-size: 27px;
}

.action-product h2 {
    font-size: 20px;
}

.action-product p.description {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.action-price {
    font-weight: bolder;
    color: #ab0330;
}

.shops-block {
    padding-left: 30px;
}

#checkout-modal div.error {
    font-size: 18px !important;
    margin-bottom: 25px;
    display: none;
}

#checkout-modal .form-group {
    margin-bottom: 0;
}

#checkout-modal button.btn-primary {
    margin-top: 20px;
}

#basket-notice {
    width: 100px;
    height: 100px;
    padding-top: 12px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    transform: translate(-50%,-50%);
    z-index: 999;
    font-size: 50px;
    text-align: center;
    color: #fd4100;
}

#basket-notice:after {
    font-family: 'icomoon';
    content: '\ea68';
}

@media screen and (max-width: 768px) {
    .category {
        height: 300px;
    }

    .frame-image.tastings {
        height: 300px;
    }

    #checkout-modal span.error {
        text-align: left;
        display: block;
    }
}