body {
    background: url("/images/main_image.jpg") 50% 50% no-repeat fixed;
    background-size: cover;
}

h5 {
    margin-bottom: 10px;
}

.btn-block {
    margin-bottom: 10px;
}

#logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 400px;
    max-width: 90%;
}

.login-form {
    width: 345px !important;
    float: right;
    right: 5%;
    z-index: 999;
}

.logo {
    width: 250px;
}

.form-group {
    width: 100%;
    min-height: 20px;
    display: table;
    margin-bottom: 5px;
}

.col-md-12 {
    padding: 0;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}

.modal-body {
    width: 100% !important;;
    background-color: #f8f8f8 !important;;
    border: 1px solid #eaeaea !important;;
    display: table !important;;
    margin-bottom: 20px !important;;
}

.modal-body a {
    text-decoration: underline;
}

.error {
    font-size: 12px !important;
    font-weight: normal;
}

@media screen and (max-width: 1024px) {
    .login-form {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
}
