@use '~element-plus/theme-chalk/src/var';
@use '~element-plus/theme-chalk/src/common/transition';
@use '~element-plus/theme-chalk/src/overlay.scss';
@use '~element-plus/theme-chalk/src/message-box.scss';

:root {
    --vc-clr-primary: #faa54c !important;
    --vc-nav-background-color: #ffffff !important;
    --vc-nav-color: #000 !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    margin-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #d73737;
}

h1.head {
    text-align: center;
    font-size: 52px;
    font-weight: 400;
    margin: 80px 0;
}

h6 {
    margin-bottom: 7px;
}

p, li, table.table-striped td {
    font-size: 18px;
    line-height: 1.3;
}

p {
    font-weight: normal;
    font-size: 1.15em;
    line-height: 1.2em;
}

p.small {
    font-size: 0.3em;
    font-style: italic;
}

a {
    text-decoration: underline;
}

a.button {
    text-decoration: none !important;
}

.image img {
    width: 100%;
}

#root {
    padding-top: 62px;
}

.error {
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 15px !important;
    font-weight: bold;
    color: #ad0637 !important;
}

.btn-primary {
    width: 350px;
    height: 55px;
    padding: 10px 0;
    border-radius: 50px;
    border: none;
    background-color: #fd4100;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-primary.big-button {
    width: 450px;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary:focus {
    /*border: 2px solid #faa54c;*/
    background-color: #d67a19;
}

.btn-primary[disabled]:hover {
    border-color: dimgray;
    background-color: gray;
}

.btn-primary .icon {
    font-size: 20px;
    margin-right: 5px;
}

.cover {
    width: 100%;
    border-top: 1px solid #cfcfcf;
}

.cover.first {
    margin-top: 85px;
}

.cover.pattern {
    background: url('/images/cheeses_pattern.png') #ffd180 repeat;
}

.new-tasting {
    border-top: 2px solid white;
    margin-top: 15px;
}

.new-tasting,
.new-tasting h2,
.new-tasting p {
    text-align: center;
}

.new-tasting p {
    font-size: 16px;
}

.tasting-block p {
    font-size: 16px;
}

.tasting-block .icon {
    text-align: center;
}

.tasting-block .icon > img {
    width: 50px;
}

.cover .container {
    padding-top: 20px;
    padding-bottom: 30px;
}

label {
    font-size: 13px;
}

input, select {
    width: 100%;
    height: 45px;
    vertical-align: middle;
    padding: 8px 12px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    color: #353535;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.428571429;
}

.modal-header .close {
    width: 10px;
    top: 15px;
}

.modal-header h1, .modal-header h2, .modal-header h3, .modal-body h1, .modal-body h2, .modal-body h3 {
    text-align: center;
}

.form-horizontal .has-feedback-left .form-control-feedback {
    left: 0;
}

.modal-body h3 {
    margin-top: 0;
}

.modal-body p {
    margin-top: 0;
}

.modal-body label {
    width: 100%;
    font-size: 14px;
}

.modal-body label .choice {
    margin-right: 10px;
    position: relative;
    margin-top: -5px;
}

.modal-body input {
    text-align: center;
}

.modal-body textarea {
    width: 100%;
    height: 100px;
    /* margin-bottom: 30px; */
    resize: vertical;
}

.modal-body p, .modal-footer p {
    text-align: center;
    margin-bottom: 0;
}

.modal-footer {
    padding-top: 0;
    text-align: center;
}

.modal-footer button {
    width: 70%;
    height: 50px;
    text-transform: uppercase;
    padding: 7px 12px;
    margin: 0 auto 20px auto;
}

.modal-footer label {
    font-size: 15px;
}

.frame-image img {
    width: 100%;
    border: 1px solid #c1c1c1;
}

.frame-image p {
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: #d73737;
}

.frame-image.tastings {
    height: 350px;
}

/*.radio-buttons-container {*/
    /*display: table;*/
/*}*/

/*form .radio-buttons-container {*/
    /*margin-top: 35px;*/
/*}*/

/*label.radio-inline {*/
    /*padding-top: 10px !important;*/
    /*font-size: 12px;*/
/*}*/

/*.form-horizontal .radio {*/
    /*padding-top: 0;*/
/*}*/

#on-top-button {
    color: #fd4100;
    position: fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    /*display: none;*/
    z-index: 999;
}

#on-top-button:hover {
    color: #d73737;
}

#on-top-button .glyphicon {
    font-size: 50px !important;
}

.cover.map {
    width: 100%;
    /* height: 600px; */
    padding: 0;
    display: table;
    border-top: 2px solid grey;
}
.cover.map #map {
    height: 300px;
}

.cover.map > div {
    width: 50%;
    display: table-cell;
    vertical-align: top;
}

.cover.map > div:last-child {
    padding-left: 70px;
}

.cover.map > div:last-child p {
    font-size: 20px;
    margin-bottom: 30px;
}

#footer {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid white;
    background: url("/images/top_menu_bg.jpg") 50% 50% no-repeat;
}

#footer a {
    color: white;
}

#footer i {
    font-size: 25px;
    float: right;
    margin-right: 10px;
}

#footer p {
    color: white;
    margin-top: 10px;
    padding: 0;
}

.el-flex-overfirst {
    order: -2;
}

.el-flex-first {
    order: -1;
}

@media screen and (max-width: 768px) {
    /*.radio-buttons-container {*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    /*}*/

    /*form .radio-buttons-container {*/
        /*margin-top: 0;*/
    /*}*/

    /*label {*/
        /*width: 100%;*/
        /*text-align: center;*/
    /*}*/

    /*label.radio-inline {*/
        /*width: auto;*/
        /*text-align: left;*/
        /*padding-top: 8px;*/
        /*font-size: 16px;*/
    /*}*/

    h1.head {
        font-size: 30px;
        margin: 20px 0;
    }

    .frame-image {
        margin-bottom: 20px;
    }

    .tasting-block h4,
    .tasting-block p {
        text-align: center;
    }

    .cover.map > div {
        width: 100%;
        /* height: 300px; */
        display: block;
    }

    .cover.map > div:last-child {
        padding-left: 0;
    }

    .cover.map > div:last-child > p {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .btn-primary, .btn-primary.big-button {
        width: 90% !important;
        font-size: 13px;
    }

    .el-flex\@sm {
        display: flex;
    }
    .el-flex-column\@sm {
        flex-direction: column;
    }
    .el-flex-first\@sm {
        order: -1;
    }
    .el-flex-last\@sm {
        order: 99;
    }
}
