body {
  font-size: 15px;
}

h6 a {
  color: inherit;
}

.iconograph {
  max-width: 30px;
  margin-right: 15px;
}

.param-title {
  border-bottom: 2px solid #faa54c;
}

.price-block {
  display: inline-block;
  margin-bottom: 20px;
}

.input-value-container.inline {
  max-width: 50%;
}

.alcohol-combination-block {
  background-color: #fffaf3;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
}
.alcohol-combination-block .description {
  margin-top: 20px;
}
